.dashboard-main{
  padding: 60px 60px 100px;
  width: 100%;
  height: calc(100vh - 110px);
  overflow: scroll;
}

.dashboard-main::-webkit-scrollbar{
  display: none;
}

.dashboard-main .main-title{
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #213F7D;
}

.dashboard-main .modal-cont{  
  display: grid;
  grid-template-columns: repeat(4, 22%);
  justify-content: space-between;
  margin: 40px 0;
}

.modal-cont .modal-box{
  padding: 25px;
  height: 160px;
  background-color: #fff;
  border: 1px solid #213F7D0F;
  border-radius: 8px;
  box-shadow: 3px 5px 20px #0000000A;
}

.modal-box .modal-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.modal-cont .box1 .modal-icon{
  background-color: #e018ff1a;
}
.modal-cont .box2 .modal-icon{
  background-color: #5718FF1a;
}
.modal-cont .box3 .modal-icon{
  background-color: #F55F441a;
}
.modal-cont .box4 .modal-icon{
  background-color: #FF33661a;
}

.modal-box h3{
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #545F7D;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.modal-box p{
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #213F7D;
  text-transform: uppercase;
}



/* -------------------------------------------------------------------------- */
.dashboard-main .user-table{
  width: 100%;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #213F7D0F;
  border-radius: 8px;
  box-shadow: 3px 5px 20px #0000000A;
}

.user-table .title-row{
  text-align: left;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #545F7D;
}

.title-row th{
  position: relative;
  padding-bottom: 15px;
}

.title-row img{
  vertical-align: text-top;
}

.title-row span{
  margin-right: 10px;
}


/* ----------------------------------------------------------------------------------- */
.title-row .filter-cont{
  display: none;
}

.title-row th:hover .filter-cont{
  display: block;
  position: absolute;
  left: -15px;
  top: 30px;
  padding: 30px 20px;
  width: 270px;
  border: 1px solid #213F7D0F;
  border-radius: 4px;
  box-shadow: 3px 5px 20px #0000000A;
  background-color: #ffffff;
  text-transform: capitalize;
  transition: .5s;
  z-index: 9999999;
}

.title-row th:hover .filter-contLast{
  left: -30px;
}

.filter-cont .input-box{
  margin-bottom: 20px;
}

.input-box p{
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #545F7D;
}

.input-box div{
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #21407d33;
}

.input-box div label{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #545f7db3;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  pointer-events: none;
}

.input-box div input:focus~label,
.input-box div input:valid~label{
  opacity: 0;
}

.input-box div input:placeholder-shown~label{
  opacity: 1;
}

.input-box div ion-icon{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #213F7D99;
}

.input-box div input{
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.filter-cont .reset-submit{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.reset-submit>button{
  width: 98px;
  height: 40px;
  border-radius: 8px;
  text-align: center;  
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.reset-submit button:first-child{
  border: 1px solid #545F7D;
  color: #545F7D;
}
.reset-submit button:last-child{
  border: 1px solid #39CDCC;
  background-color: #39CDCC;
  color: #fff;
}

/* ----------------------------------------------------------------------------------- */



.user-table .body-row{ 
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #545F7D;
  width: 100%;
}

.user-table .body-row td{
  border-bottom: 1px solid #213F7D1A;
  padding: 20px 0;
}

.user-table .body-row:last-child td{
  border: none;
}

.body-row .status span{
  width: fit-content;
  padding: 7px 13px;
  border-radius: 100px;
}

.body-row .status-active span{
  background-color: #39cd630f;
  color: #39CD62;
}
.body-row .status-inactive span{
  background-color: #545F7D0f;
  color: #545F7D;
}
.body-row .status-pending span{
  background-color: #E9B2000f;
  color: #E9B200;
}
.body-row .status-blacklist span{
  background-color: #E4033B0f;
  color: #E4033B;
}

/* -------------------------------------------------------------------------- */

.body-row .details-cont{
  display: none;
}

.body-row td:hover .details-cont{
  display: block;
  position: absolute;
  top: 45px;
  right: -20px;
  width: 180px;
  padding: 20px;
  border: 1px solid #213F7D0F;
  border-radius: 4px;
  box-shadow: 3px 5px 20px #0000000A;
  background-color: #ffffff;
  z-index: 9999;
  transition: .5s;
}

.details-cont .details-item{
  display: flex;
  column-gap: 8px;
  margin-bottom: 20px;
}

.details-cont .details-item:last-child{
  margin: 0;
}

.details-item span{
  font-size: 14px;
  font-weight: 500;
  color: #545F7D;
  font-family: "Work Sans", sans-serif;
}



/* -------------------------------------------------------------------------- */
.dashboard-main .pagination-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination-cont .showing{
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #545F7D;  
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.showing div{ 
  padding: 5px 10px;
  background-color: #213F7D1A;
  border-radius: 4px;
  display: flex;
  align-items: center;
  column-gap: 18px;
}


.pagination-cont .page-num{
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: #545F7D99;
}

.page-num .page-arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #213F7D1A;
  border-radius: 4px;
  color: #213F7D99;
}

.page-num .page-ellipsis{
  align-self: flex-end;
}

.page-num a:nth-child(2){
 color: #545F7D;
}
.page-num a:last-child{
 color: #21407d;
}
